/*
* @Author: weiqiang
* @Date: 2019/11/1 11:24
*/

.nav{
    background: #eee;
    height: 30px;
    line-height: 30px;
}
.nav .user{
    float: left;
}
.nav .user.login{
    display: none;
}
.nav .user .link{
    margin-right: 5px;
}
.nav .nav-list{
    float: right;
}
.nav .nav-list .nav-item{
    display: inline-block;
    margin-left: 5px;
}
.w{
    width: 1080px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.link{
    color: #999;
    cursor: pointer;
    text-decoration: none;
}
.link:hover {
    color: #e80012;
}