<!DOCTYPE html>
<html lang="en">
<!--
  @Author: 芦传慧
  @Date: 2019/11/12 20:55
-->
<head>
    <meta charset="UTF-8">
    <title>MMall</title>
    <link rel="shortcut icon" href="//s.happymmall.com/mmall_fe/dist/favicon.ico">
    <script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../page/common/nav/index.css">
    <link rel="stylesheet" href="../page/common/header/index.css">
    <link rel="stylesheet" href="../page/common/footer/index.css">
    <link rel="stylesheet" href="../page/index/index.css">
    <link rel="stylesheet" href="../page/user_password_reset/index.css">
    <link rel="stylesheet" href="../page/iconfont/iconfont.css">
</head>
<body>
<div class="t">
    <div id="tt">
        MMall
    </div>
</div>
<div class="page-wrap">
    <div class="w">
        <div class="user-con">
            <div class="user-title">找回密码</div>
            <div class="user-box">
                <div class="error-item">
                    <i class="fa fa-minus-circle error-icon"></i>
                    <p class="err-msg">Error</p>
                </div>
                <div class="step-con step-username">
                    <p class="user-item-text">请输入用户名：</p>
                    <div class="user-item">
                        <label class="user-label" >
                            <span class="icon iconfont"></span>
                        </label>
                        <input class="user-content" id="username" placeholder="请输入用户名" autocomplete="off">
                    </div>
                    <a class="btnn btn-submit" id="submit-username">下一步</a>
                </div>

                <div class="link-item">
                    <a class="link" href="./user_login.html" target="_blank">返回登录>></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="w">
        <p class="copyright">
            Copyright © 2019 nishuodedoudui.com All Right Reserved
        </p>
    </div>
</div>

</body>
</html>